---
// import type { Links } from "../../types/link-type";
// import { linksData} from "../../data/layout/links";
// import Link from "../../components/layout/Link.astro";
---

<footer>
  <div class="flex flex-col gap-5 border-y-[1px] border-blue-400 py-5">
    <p class="flex items-center gap-2 uppercase text-lg">
      <img width={40} height={40} src="icons8-rocket-48.png" alt="rocket" /> Dev-Talent
    </p>
    <!-- <nav class="flex flex-col gap-3">
      {linksData.map((link: Links) => <Link {...link} />)}
    </nav> -->
  </div>
  <div class="py-5">
    <p class="text-center">2024 - Dev-Talent</p>
  </div>
</footer>
