---
import { Icon } from "astro-icon/components";
---

<nav>
  <div class="flex justify-between my-6">
    <div class="flex gap-2 items-center">
      <img width="48" height="48" src="icons8-rocket-48.png" alt="rocket"/>
      <h1 class="uppercase text-lg">Dev-Talent</h1>
    </div>
    <Icon name="burger" width={28} height={28} />
  </div>
</nav>